.point_color_white,
.point_color_black
{
    border-radius: 50%;

    box-sizing: border-box;

    width: 28px;
    height: 28px;
    margin: 1px 0 0 1px;
}

.point_color_white:after,
.point_color_black:after,
.point_color_white:before,
.point_color_black:before
{
    display: none;
}

.point_color_white
{
    background: #fff;

    box-shadow: 1px 1px 1px #404040 , inset -3px -3px 5px gray;
}

.point_color_black
{
    background: #000;
    background-image: -webkit-radial-gradient(40% 40%, circle closest-corner, #404040 0%, transparent 90%);

    box-shadow: 1px 1px 1px #404040;
}
