.point
{
    width: 30px;
    height: 30px;

    position: absolute;
}

.point:after,
.point:before
{
    border: 1px solid #522;

    content: '';

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.point:after
{
    border-width: 0 0 0 1px;
    left: 50%;
}

.point:before
{
    border-width: 1px 0 0;
    top: 50%;
}

.point_first-col:after
{
    top: 50%;
}
.point_last-col:after
{
    bottom: 50%;
}

.point_first-row:before
{
    left: 50%;
}

.point_last-row:before
{
    right: 50%;
}
